* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", "Arial";
}

.calculator-container {
  height: 100vh;
  background-color: #9effff79;
  display: flex;
  justify-content: center;
}

.calculator {
  margin-top: 100px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  /* border: 1px solid red; */
}

form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 20px 10px;
}

.cabeçalho,
.lista-ingredientes li {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr) 40px;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.lista-ingredientes li {
  justify-items: center;
}

.lista-ingredientes li {
  padding: 8px 10px;
  border-bottom: 1px solid #ddd;
}

.lista-ingredientes li span {
  text-align: center;
}

/* p:not(:last-child),
span:not(:nth-last-child(2)) {
  border-right: 1px solid gray;
} */

.cabeçalho p {
  padding: 10px;
  min-width: 80px;
  font-weight: bold;
}

label {
  font-size: 1.4rem;
}

input {
  margin-top: 5px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid black;
}

.campo {
  display: flex;
  flex-direction: column;
}

.campo.ingrediente {
  grid-column: span 2;
}

.btnCalcular {
  grid-column: 3;
}

ul li {
  list-style: none;
  position: relative;
  font-size: 1.2rem;
  user-select: none;
  padding: 16px 0px 0px 20px;
  display: flex;
  justify-content: space-between;
}

ul li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
  background-position: center;
  left: 4px;
}

li span:not(.fechar) {
  min-width: 80px;
}

/* span.fechar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  right: 0px;
} */
span.fechar:hover {
  background-color: aqua;
}

/* .lista-ingredientes li.item-ingrediente {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.lista-ingredientes li span {
  min-width: 200px;
  text-align: center;
}

.lista-ingredientes li .fechar {
  min-width: 40px;
  cursor: pointer;
  color: red;
  font-weight: bold;
  padding-top: 10px;
} */
